name: Terraform Apply

on:
  push:
    branches:
      - main
  workflow_dispatch:


      




jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.5.7

    - name: Authenticate with GCP
      run: |
        echo "${{ secrets.GCP_CREDENTIALS }}" > creds.json
        echo "GOOGLE_APPLICATION_CREDENTIALS=$PWD/creds.json" >> $GITHUB_ENV


    - name: Terraform Init
      run: terraform init
      working-directory: terraform

    - name: Terraform Apply
      run: terraform apply -auto-approve -var="project_id=${{ secrets.PROJECT_ID }}"
      working-directory: terraform
